 <div class="main">
    
 
 <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Filtrar  pregunta </h3>
        </div>

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <form action="#">
	  <span class="mdl-chip mdl-chip--contact">
             <span class="mdl-chip__text"> Filtrar  pregunta </span>
      </span>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" id="sample3">
             <label class="mdl-textfield__label" for="sample3">Digite su consulta</label>
         </div>
		 <button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="button">Buscar
		 </button>

                     <div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
                         <div class="mdl-snackbar__text"></div>
                            
                     </div>

     </form>
        <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
              <span class="mdl-chip__text">Estado</span>
              
         </span>
         <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
    data-mdl-for="demo-menu-top-left1">
                  <li class="mdl-menu__item">En proceso de revisión</li>
                   <li class="mdl-menu__item">Aprobado</li>
				   <li class="mdl-menu__item">Con restricciones</li>
                   <li class="mdl-menu__item">Rechazado</li>
         </ul>
		 <span class="mdl-chip mdl-chip--contact mdl-chip--deletable">
              <span class="mdl-chip__text">Categoría</span>
              
         </span>
       <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
    data-mdl-for="demo-menu-top-left">
                  <li class="mdl-menu__item">Académica</li>
                   <li class="mdl-menu__item">Financiera</li>
				   <li class="mdl-menu__item">Administrativa</li>
         </ul>
		 <span class="mdl-chip mdl-chip--deletable">
              <span class="mdl-chip__text">Fecha de creación</span>
			  
         </span>
		 <span class="mdl-chip mdl-chip--deletable">
              <span class="mdl-chip__text">Ver todo</span>
			  
         </span>
		

  </div>
</div>
</div>
</div>  
