<div class="main">

	<div class="mdl-cell mdl-cell--12-col">
		<div class="docs-text-styling component-title">
			<h3>LISTA DE PREGUNTAS</h3>
		</div>

		<form action="#">
			<div
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="filtro"
					name="filtro"> <label class="mdl-textfield__label"
					for="filtro">FILTRO</label>
			</div>
		</form>
		<section class="wrapper">
			<section class="main">
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
					ORDENAR</button>
				<select class="sel">
					<option value="#Fecha">Fecha</option>
					<option value="#Calificacion">Calificacion</option>
				</select>
				<table
					class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
					<thead>
						<tr>
							<th class="encs">Pregunta</th>
							<th class="encs">Estado</th>
							<th class="encs">Desde</th>
							<th class="encs">Aprobacion</th>
							<th class="encs">Calificacion</th>
						</tr>
					</thead>
					<tbody>
						<!-- Se cambiara por contenido dinamico de la base de datos -->
						<tr>
							<td>Pregunta 1</td>
							<td>Sin responder</td>
							<td>06/06/2016</td>
							<td>Si</td>
							<td>5</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Pregunta 2</td>
							<td class="celda">Sin responder</td>
							<td>06/06/2016</td>
							<td>Si</td>
							<td>5</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Pregunta 3</td>
							<td>Respondida</td>
							<td>06/06/2016</td>
							<td>Si</td>
							<td>5</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Pregunta 4</td>
							<td>Respondida</td>
							<td>06/06/2016</td>
							<td>Si</td>
							<td>5</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Pregunta 5</td>
							<td>Respondida</td>
							<td>06/06/2016</td>
							<td>Si</td>
							<td>5</td>
						</tr>
						<tr>
							<td class="mdl-data-table__cell--non-numeric">Pregunta 6</td>
							<td>Respondida</td>
							<td>06/06/2016</td>
							<td>Si</td>
							<td>5</td>
						</tr>
					</tbody>
				</table>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
					0</button>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
					1</button>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
					2</button>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
					3</button>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
					>></button>
			</section>
		</section>
	</div>
</div>
