<div class="main" charset="utf-8">


<div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Listar Usuarios e Inactivar</h3>
          <p>Usuarios.</p>
        </div>

        

 <!-- Raised button Crear Usuario y Editar Usuario -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="btnCreaEditUsua">
 Ir a Crear Usuario y Editar Usuario
</button>

<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="btnlistUsua">
 Listar Usuarios
</button>     

   

          
          <!-- Add warning, if the component has one -->
          
          <!-- Generating snippets -->
          
            
            
<div class="snippet-group">

  <div class="snippet-header">
    <div class="snippet-demos">
      <div class="snippet-demo-padding"></div>
      
        
        
        
        <div class="snippet-demo">
          <div class="snippet-demo-container demo-data-table demo-data-table__data-table">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp is-upgraded" data-upgraded=",MaterialDataTable">
  <thead>
    <tr>
      <th>

      </th>
      <th lass="mdl-data-table__cell--non-numeric">
          idusuario</th>
       <th>Rol</th>
       <th>Nombre</th>
       <th>Apellidos</th>
       <th>Estado</th>
       <th >Activar/Inactivar</th>
     </tr>
  </thead>
  <tbody id="listarUsuarios-list">  
  </tbody>
</table>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
mdl-button--colored" id="btnIzq">
<<
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
mdl-button--colored">
1
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
mdl-button--colored">
2
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
mdl-button--colored">
3
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect
mdl-button--colored" id="btnDer">
>>
</button>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
<div class="sidebar"></div>

