body{
	font-family: sans-serif,Arial;
	color: white;
	font-weight: 300;
}

.containerLogin{
	max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
	margin-top: 5%;
	background-color: rgba(45, 0, 255, 1);
}

form{
	padding: 20px 0px;
	position: relative;
}

form input{
	outline: 0;
	border: 1px solid rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.2);
	width: 250px;
	border-radius: 3px;
	padding: 10px 15px;
	margin: 10px auto 20px auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: white;
	-wekit-transition-duration: 0.25s;
			transition-duration: 0.25s;
	font-weight: 300;
}

form input:hover{
	background-color: white;
}

form input:focus{
	background-color: white;
	width: 300px;
	color: black;
}

form button{
	background-color: white;
	outline: 0;
	border: 0;
	padding: 10px 15px;
	color: orange;
	border-radius: 3px;
	width: 250px;
	cursor: pointer;
	font-size: 18px;
}

form button:hover{
	background-color: #D8D8D8;
}
