 <div class="main">
<div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Busqueda Avanzada</h3>
        </div>
        
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <form action="#">
	  <span class="mdl-chip mdl-chip--contact">
             <span class="mdl-chip__text"> Busqueda básica</span>
      </span>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" id="sample3">
             <label class="mdl-textfield__label" for="sample3">Palabra clave</label>
         </div>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--1dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"> <span class="mdl-chip mdl-chip--contact">
             <span class="mdl-chip__text"> Sede</span>
      </span>
	  </th>
    </tr>
  </thead>
  <tbody>
    <tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Politécnico Bogotá</span>
                    </label>
      </td>
    </tr>
    <tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Politécnico Medellín</span>
                    </label>
      </td>
    </tr>
  </tbody>
</table>
 <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--1dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"> <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__text"> Modalidad</span>
      </span>
	  </th>
    </tr>
  </thead>
  <tbody>
    <tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Presencial</span>
                    </label>
      </td>
    </tr>
    <tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Virtual</span>
                    </label>
      </td>
    </tr>
  </tbody>
</table>
<div class="mdl-card__supporting-text">
    <form action="#">
	  <span class="mdl-chip mdl-chip--contact">
             <span class="mdl-chip__text"> Programa Académico</span>
      </span>
         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
             <input class="mdl-textfield__input" type="text" id="sample3">
             <label class="mdl-textfield__label" for="sample3">Ej: Ingeniería de sistemas</label>
         </div>
		 <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--1dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"> <span class="mdl-chip mdl-chip--contact">
             <span class="mdl-chip__text"> Categoría</span>
      </span>
	  </th>
    </tr>
  </thead>
  <tbody>
    <tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Académica</span>
                    </label>
      </td>
    </tr>
    <tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Administrativa</span>
                    </label>
      </td>
    </tr>
	<tr>
	 <td>
     <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">Financiera</span>
                    </label>
      </td>
    </tr>
  </tbody>
</table>
		 <button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="button">Buscar
		 </button>
</form>
</div>
</form>
</div>
</div>
</div>
</div>
