 <div class="main">
<div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Añadir Comentario</h3>
        </div>

<div>
  <div>
    <form action="#">
            <input class="mdl-textfield__input" type="text" id="sample3">
             <label class="mdl-textfield__label" for="sample3">Escribe un comentario...</label>
		 <button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="button">Comentar
		 </button>
     </form>

  </div>
</div>
</div>
</div>

