 <div class="main">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Editar Pregunta</h3>
        </div>    
 
       <main class="mdl-layout__content mdl-color--grey-100">
             <h3>Pregunta</h3>

            <div width="200px" height="200px">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="2" id="schools">hasta cuando puedo completar mis creditos de emprendimiento?
                </textarea>
                <label class="mdl-textfield__label" for="schools">Edita la pregunta</label>
              </div>
            </div>
<!--Respuesta-->

            <div width="200px" height="200px" >
              <h3>Respuesta</h3>
            </div>

            <div width="200px" height="200px">
                <textarea class="mdl-textfield__input" type="text" rows="3" id="schools">hasta una semana antes de terminar el semestre academico o hasta finalizar el modulo del campus virtual
                </textarea>
                <label class="mdl-textfield__label" for="schools">Edita la respuesta</label>
          </div>

<!--Aprobar pregunta-->
<div>

<ul>
<label for="dec">Decanatura</label>
<input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked /><br>

<label for="dec">Facultad</label>
<input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked /><br>

<label for="dec">Bienestar</label>
<input type="checkbox" id="list-checkbox-1" class="mdl-checkbox__input" checked /><br>

</div>
    

          <div>
              <p> Creditos, Bienestar, Presencial, Virtual, Requisito de Grado</p>
          </div>
      </main>
</div>
</div>
