<div class="main">
    
 
 <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Crear Usuario y Editar Usuario</h3>
        </div>
        
               <table >
<tr><td>Modulo Administrativo Universidad Politécnico Grancolombiano</td> </tr>
<tr><td>       </td></tr>

<tr><td>Nombre: </td><td><input type="text" name="nombre" size="25" maxlength="50"></td></tr>
<tr><td>Apellidos:</td><td> <input type="text" name="apellidos" size="35" maxlength="100"></td></tr>
        
<tr><td>Correo electrónico: </td><td><input type="text" value="@" name="correo" size="40" maxlength="100"></td></tr>
        
<tr><td>Dirección: </td><td><input type="text" name="dirección" size="15" maxlength="50"></td><br><br></tr>
        
<tr><td>Teléfono: </td><td><input type="text" name="Teléfono" size="15" maxlength="50"></td></tr>
        </table>

          <table >
          <tr>
          <td><div align="left">
           <input type="submit" value="Enviar formulario">
            </div></td>
            <td><div align="left">
           <input type="Reset" value="Borrar formulario">
           </div></td>
           </tr>
           </table>
           </form>

</div>
</div>
