<div class="main">
    
 
 <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Olvido cotraseña</h3>
        </div>

    <!--Google Font - Work Sans-->

<div class="container">

        <div class="field">
          <input type="text" id="fieldUser" class="input" required pattern=.*\S.* />
          <label for="fieldUser" class="label">Correo</label>
        </div>
        <div class="profile__footer">
          <button class="btn">Enviar</button>
		</div>
		
  </div>

</div>
</div>