 <div class="main">
 <div class="mdl-cell mdl-cell--12-col">
        <div class="docs-text-styling component-title">
          <h3>Editar comentario</h3>
        </div>
        
        
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    <form action="#">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Comentarios</h2>
  </div>
  <div class="mdl-card__supporting-text">
	 <button class="mdl-button mdl-js-button mdl-button--primary">
              Wendy Dayana Marroquín Piñeros
             </button>
		     <div class="mdl-card__supporting-text">
              Muchas gracias, ha sido muy útil.
              </div>  
  </div>
  <div class="mdl-card__actions mdl-card--border">

				   <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
                   data-mdl-for="demo-menu-top-left">
                         <li class="mdl-menu__item">Editar comentario</li>
               </ul>
			   		 <button id="demo-show-snackbar" class="mdl-button mdl-js-button mdl-button--raised" type="button">Comentar
		 </button>
  </div>

</div>

     </form>
  </div>
</div>
</div>
</div>
