<div class="main">
	<!-- Comentario -->
	>
	<div class="mdl-cell mdl-cell--12-col">
		<div class="docs-text-styling component-title">
			<h3>Editar comentario</h3>
		</div>
		<div class="demo-card-square mdl-card mdl-shadow--2dp">
			<div class="mdl-card__supporting-text">
				<form action="#">
					<div class="demo-card-wide mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">Comentarios</h2>
						</div>
						<div class="mdl-card__supporting-text">
							<button class="mdl-button mdl-js-button mdl-button--primary">
								Wendy Dayana Marroquín Piñeros</button>
							<div class="mdl-card__supporting-text">Muchas gracias, ha
								sido muy útil.</div>
						</div>

						<div class="mdl-card__actions mdl-card--border">
							<button id="demo-menu-top-left"
								class="mdl-button mdl-js-button mdl-button--icon--colored">

							</button>
							<ul
								class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect"
								data-mdl-for="demo-menu-top-left">
								<li class="mdl-menu__item">Editar comentario</li>
							</ul>
							<button id="demo-show-snackbar"
								class="mdl-button mdl-js-button mdl-button--raised"
								type="button">Comentar</button>

							<div id="demo-snackbar-example"
								class="mdl-js-snackbar mdl-snackbar">
								<div class="mdl-snackbar__text"></div>
								<button class="mdl-snackbar__action" type="button"></button>
							</div>
							<!-- Funcionalidad -->>
							<script>
								(function() {
									'use strict';
									var snackbarContainer = document
											.querySelector('#demo-snackbar-example');
									var showSnackbarButton = document
											.querySelector('#demo-show-snackbar');
									var handler = function(event) {
										showSnackbarButton.style.backgroundColor = '';
									};
									showSnackbarButton
											.addEventListener(
													'click',
													function() {
														'use strict';
														showSnackbarButton.style.backgroundColor = '#'
																+ Math
																		.floor(
																				Math
																						.random() * 0xFFFFFF)
																		.toString(
																				16);
														var data = {
															message : 'Comentario editado',
															timeout : 2000,
															actionHandler : handler,
															actionText : 'Deshacer'
														};
														snackbarContainer.MaterialSnackbar
																.showSnackbar(data);
													});
								}());
							</script>
				</form>
			</div>
			<div class="mdl-card__menu">
				<button
					class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">

				</button>
			</div>
		</div>
	</div>
</div>
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</div>
</div>
