<main class="mdl-layout__content mdl-color--grey-100">
<div class="mdl-grid demo-content">
	<div
		class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
		<div width="200px" height="200px"
			class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
			<h6>Crear usuario</h6>
		</div>

		<div width="200px" height="200px"
			class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
			<div class="mdl-textfield mdl-js-textfield">
				<label class="mdl-textfield__label" for="Inombre">Nombre de
					usuario</label> <br />
				<textarea class="mdl-textfield__input" type="text" rows="2"
					id="Inombre">Ingrese su nombre
                </textarea>


			</div>
		</div>

		<div width="200px" height="200px"
			class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
			<div class="mdl-textfield mdl-js-textfield">
				<label class="mdl-textfield__label" for="Iapellido">Apellido
					de usuario</label><br/>
				<textarea class="mdl-textfield__input" type="text" rows="2"
					id="Iapellido">Ingrese su apellido
                </textarea>
			</div>
		</div>

		<div width="200px" height="200px"
			class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
			<div class="mdl-textfield mdl-js-textfield">
			<label class="mdl-textfield__label" for="Idireccion">Dirección
					de usuario</label><br/>
				<textarea class="mdl-textfield__input" type="text" rows="2"
					id="Idireccion">Ingrese su dirección
                </textarea>
			</div>
		</div>

		<div width="200px" height="200px"
			class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
			<div class="mdl-textfield mdl-js-textfield">
				<label class="mdl-textfield__label" for="Itelefono">Teléfono
					de usuario</label><br/>
				<textarea class="mdl-textfield__input" type="text" rows="2"
					id="Itelefono">Ingrese su teléfono
                </textarea>
			</div>
		</div>

		<div width="200px" height="200px"
			class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
			<div class="mdl-textfield mdl-js-textfield">
				<label class="mdl-textfield__label" for="txt-correo">Correo
					electrónico de usuario</label><br/>
				<textarea class="mdl-textfield__input" type="text" rows="2"
					id="txt-correo"> rzambrano@gmail.com
                </textarea>
			</div>
		</div>

		<!--Enviar formulario-->

		<table width="50%" border="0" align="center" cellpadding="10"
			cellspacing="0">
			<tr>
				<td><div align="center">
						<input type="submit" value="Enviar formulario" id="btnEnviar">
					</div></td>
				<td></div align="center"> <input type="reset" value="Editar formulario"
					id="btnEditar">
					</div></td>
			</tr>

			</div>
			</main>