<main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">
            <div width="200px" height="200px" class="demo-chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <h6>Crear usuario</h6>
            </div>

            <div width="200px" height="200px"class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="2" id="schools">Ingrese su nombre
                </textarea>
                <label class="mdl-textfield__label" for="schools">Nombre de usuario</label>
              </div>
            </div>

            <div width="200px" height="200px"class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="2" id="schools">Ingrese su apellido
                </textarea>
                <label class="mdl-textfield__label" for="schools">Apellido de usuario</label>
              </div>
            </div>

            <div width="200px" height="200px"class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="2" id="schools">Ingrese su dirección
                </textarea>
                <label class="mdl-textfield__label" for="schools">Dirección de usuario</label>
              </div>
            </div>

            <div width="200px" height="200px"class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="2" id="schools">Ingrese su teléfono
                </textarea>
                <label class="mdl-textfield__label" for="schools">Teléfono de usuario</label>
              </div>
            </div>

            <div width="200px" height="200px"class="demo-chart mdl-cell mdl-cell--12-col mdl-cell--9-col-desktop">
              <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows="2" id="schools"> rzambrano@gmail.com
                </textarea>
                <label class="mdl-textfield__label" for="schools">Correo electrónico de usuario</label>
              </div>
            </div>

<!--Enviar formulario-->

          <table width="50%" border="0" align="center" cellpadding="10" cellspacing="0">
          <tr>
          <td><div align= "center">
          <input type="submit" value="Enviar formulario">
          </div></td>
          <td></div align="center">
          <input type="reset"  value="Editar formulario">
          </div></td>
          </tr>
          
        </div>
      </main>