<div class="main">	
	<h2>inicio sesion</h2>
	<div class="container">
  <div class="profile">
    <button class="profile__avatar" id="toggleProfile">
     <img src="https://thumbs.dreamstime.com/z/vector-el-icono-del-avatar-del-usuario-para-el-sitio-web-o-el-mvil-45836554.jpg" alt="Avatar" /> 
    </button>
    <div class="profile__form">
      <div class="profile__fields">
        <div class="field">
          <input type="text" id="fieldUser" class="input" required pattern=.*\S.* />
          <label for="fieldUser" class="label">Usuario</label>
        </div>
        <div class="field">
          <input type="password" id="fieldPassword" class="input" required pattern=.*\S.* />
          <label for="fieldPassword" class="label">Contraseña</label>
        </div>
		<div>
		<a href="olvido.html" class="link">Olvido su contraseña?</a>
		</div>
        <div class="profile__footer">
          <button class="btn">Ingresar</button>
        </div>
      </div>
     </div>
  </div>
</div>
</div>	