<div class="main">

	<link rel="stylesheet" href="../../../css/olvidoContraseña.css">
	<div class="containerLogin">
		<div align="center">
			<h1>Recupera tu Contraseña</h1>
			<IMG src="../../../imgs/logoPoli3.png">
		</div>
		<!-- <form class="form">
			<div>
				<input type="email" placeholder="correo" required/>
			</div>
			<button type="submit" id="BtnRecuperarContraseña">Enviar</button>
		</form> -->
		<div class="form">
			<div>
				<input type="email" placeholder="correo" required id="emailPws"/>
			</div>
			<button type="submit" id="BtnRecuperarContraseña" onclick="GetPass(); return false;">Enviar</button>
		</div>
	</div>
	
	<script src="../../../js/olvidoContraseña.js"></script>
</div>